.RData
.Rproj.user
.Rhistory
.Ruserdata
*.rds
Rplots.pdf
_book
_bookdown_files
rsconnect
__pycache__
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.pyc
/dist/
/*.egg-info
nipype_mem
nilearn_cache
.out
.DS_Store
.pem
tmp*
*.mat
*.csv
mcmc_chains/
figure-html/
test*
*.asc
.vscode/
*.db
config.txt
license.txt
*.fuse*
build
dist
doc