.RData
.Rproj.user
.Rhistory
.Ruserdata
*.hdf5
*.psydat
*.log
*.rds
Rplots.pdf
_book
_bookdown_files
rsconnect
__pycache__
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.pyc
/dist/
/data/
/*.egg-info
nipype_mem
nilearn_cache
.out
.DS_Store
.pem
tmp*
*.mat
*.csv
*.xlsx
mcmc_chains/
figure-html/
Analysis/outputs/temp/
test*
*.asc
*.edf
.vscode/
*.db
config.txt
license.txt
*.fuse*
build
dist
doc